@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,400;1,500&family=Teko:wght@500&display=swap');


body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

#timer{
  font-size: 27px;
  font-family: 'Rubik', sans-serif;
}

#week-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.week{
  cursor: pointer;
  border-style: none;
  padding: 0.5rem;
  background-color: white;
  width: 50px;
  height: 75px;
}
.week:hover{
  background-color: rgba(0, 0, 0, 0.021);
}
.week-day{
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}
.week-schedule-day{
  font-weight: lighter;
  font-size: 0.75rem;
  margin: 0;
}

.week-day-selected-lock{
  border-style: solid;
  border-width: 2px;
  border-radius: 0.2rem;
  border-color: rgb(233, 233, 233);
}
.week-day-selected{
  border-style: solid;
  border-width: 2px;
  border-radius: 0.2rem;
  border-color: black;
}

#classes-container{
  background-color: rgb(255, 255, 255);
}

.class{
  color: black;
  margin-bottom: 0.5rem;
}

.myClass{
  color: black;
}

.currentClass{
  border-style: solid;
  border-width: 2px;
  padding: 0.5rem;
}

.classOver{
  color: gray;
}